@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#burguer{
    display: none;
}

.logo{
    height: 12vh;
}

header{
    background-image: url(../lemniscata/imagens/a1\ -\ Copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
    font-weight: bold;
    height: 14vh;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6px;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu a:hover{
    text-decoration: underline;
    transition: 1s;
}

#apresentacao{
    height: 80vh;
    background-image: url(../lemniscata/imagens/a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

